<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="playList" class="com.studytrails.tutorials.springexpressionlanguagereferencingbeans.PlayList">
		<property name="songs">
			<list>
				<value>Are You Ready! (Remix)</value>
				<value>By The Rivers Of Babylon (Boney M.)</value>
				<value>Can You Feel The Love Tonight (Elton John)</value>
			</list>
		</property>
	</bean>

	<bean id="mp3Player" class="com.studytrails.tutorials.springexpressionlanguagereferencingbeans.Mp3Player">
		<property name="songsInPlayList" value="#{playList.songs}" />
		<property name="firstSong" value="#{playList.getFirstSong()}"/>
	</bean>


</beans>           